
*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 90px;
    background-color: rgb(253, 248, 248);
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("./logo_final_smaller.png");
}
/*.has-slogo{
    width: 391px;
    height: 100%;
    max-width: 100%;
    border: 15px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;

}
.elementor-size-default{
    font-size: calc(1.365rem + 1.38vw);
    line-height: 1.5;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    word-spacing: normal;
    letter-spacing: normal;
    color: #1a66a7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: left;

}
